<html layout:decorator="layout">
<div layout:fragment="content">

    <div class="container">
        <div class="starter-template">
            <h3>Login</h3>
            <form role="form" action="/login" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <div class="input-field col s4">
                    <label for="email">Email address</label>
                    <input type="email" name="email" id="email" th:required="true" th:autofocus="true"/>
                </div>
                <div class="input-field col s4">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" th:required="true"/>
                </div>

                <div class="switch" id="remember-me-switch">
                    <label>
                        <input type="checkbox" name="remember-me" id="remember-me"/>
                        <span class="lever"></span>
                        Remember me
                    </label>
                </div>
                <p></p>
                <div>
                    <button class="waves-effect waves-light btn" type="submit">Sign in</button>
                </div>
            </form>

            <div th:if ="${error.isPresent()}">
            <p>The email or password you have entered is invalid, try again.</p>
            </div>
        </div>
    </div>
</div>
</html>