<html layout:decorator="layout">
<div layout:fragment="content">

    <div class="container">
        <div class="starter-template">
            <h3>Create new user</h3>
            <form role="form" name="form" action="" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <div>
                    <label for="email">Email address</label>
                    <input type="email" name="email" id="email" required="true" autofocus="true"/>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required="true"/>
                </div>
                <div>
                    <label for="passwordRepeated">Repeat</label>
                    <input type="password" name="passwordRepeated" id="passwordRepeated" required="true"/>
                </div>
                <input type="hidden" name="role" id="role" th:value="${'USER'}"/>
                <!--<div>-->
                    <!--<label for="role">Role</label>-->
                    <!--<select name="role" id="role" required="true">-->
                        <!--<option selected="true" th:value="${'USER'}"-->
                                <!--th:text="${'USER'}"></option>-->
                        <!--<option th:value="${'ADMIN'}"-->
                                <!--th:text="${'ADMIN'}"></option>-->
                        <!--&lt;!&ndash;<option <th:if form.role == 'USER'>selected</th:if>>USER</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option <th:if form.role == 'ADMIN'>selected</th:if>>ADMIN</option>&ndash;&gt;-->
                    <!--</select>-->
                <!--</div>-->
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                </button>
            </form>

            <!--<@spring.bind "form" />-->
            <!--<th:if spring.status.error>-->
                <!--<ul>-->
                    <!--<th:list spring.status.errorMessages as error>-->
                        <!--<li>${error}</li>-->
                    <!--</th:list>-->
                <!--</ul>-->
            <!--</th:if>-->

            <!--<#if error.isPresent()>-->
            <!--<p>The email or password you have entered is invalid, try again.</p>-->
            <!--</#if>-->
        </div>
    </div>
</div>
</html>