<html xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<div layout:fragment="content">
    <div class="container operations">
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <h3 class="center-align">Your statistics</h3>
                <p class="center-align lead">Choose period and look your stats</p>
                <h5 class="center-align">Your income</h5>
                <div class="progress">
                    <div class="determinate" style="width: 70%"></div>
                </div>
                <h5 class="center-align">Your expenses</h5>
                <div class="progress red lighten-5">
                    <div class="determinate red lighten-3" style="width: 50%"></div>
                </div>
            </div>
            <div class="col s2"></div>
        </div>
    </div>
</div>
</html>